<footer class="footer">

  <div class="pure-menu pure-menu-horizontal">
    <ul>
      <!-- email link -->
      <li class="pure-menu-item footer-item">
        <a href="mailto:{{ site.email }}"><i class="fa fa-envelope"></i> Email</a>
      </li>

      <!-- GitHub link -->
      {% if site.github_username %}
        <li class="pure-menu-item footer-item">
          <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github"></i> GitHub</a>
        </li>
      {% endif %}

      <!-- Twitter link -->
      {% if site.twitter_username %}
        <li class="pure-menu-item footer-item">
          <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter"></i> Twitter</a>
        </li>
      {% endif %}
    </ul>
  </div>

</footer>